@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  color: white;
  background-color: black;
}

@font-face {
  font-family: six-caps;
  src: url(../../public/fonts/SixCaps-Regular.ttf);
}

.title {
  font-family: "six-caps";
  font-size: calc(1rem + 22.15vw);
  line-height: calc(1rem + 20.5vw);
}

.card-title {
  font-family: "six-caps";
  font-size: calc(1rem + 8vw);
  line-height: calc(1rem + 7.5vw);
}
